In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#pd.set_option('display.max_rows',None)

In [2]:
df=pd.read_csv('test.csv')
len(df.columns)

80

In [3]:
cat_feat_nan=[feature for feature in df.columns  if df[feature].isnull().sum()>=1 if df[feature].dtypes=='O']
for feature in cat_feat_nan:
    print(feature,'{}'.format(df[feature].isnull().sum()))

MSZoning 4
Alley 1352
Utilities 2
Exterior1st 1
Exterior2nd 1
MasVnrType 16
BsmtQual 44
BsmtCond 45
BsmtExposure 44
BsmtFinType1 42
BsmtFinType2 42
KitchenQual 1
Functional 2
FireplaceQu 730
GarageType 76
GarageFinish 78
GarageQual 78
GarageCond 78
PoolQC 1456
Fence 1169
MiscFeature 1408
SaleType 1

In [4]:
for feature in cat_feat_nan:
    df[feature].fillna('missing',inplace=True)

In [5]:
for feature in cat_feat_nan:
    print(feature,'{}'.format(df[feature].isnull().sum()))

MSZoning 0
Alley 0
Utilities 0
Exterior1st 0
Exterior2nd 0
MasVnrType 0
BsmtQual 0
BsmtCond 0
BsmtExposure 0
BsmtFinType1 0
BsmtFinType2 0
KitchenQual 0
Functional 0
FireplaceQu 0
GarageType 0
GarageFinish 0
GarageQual 0
GarageCond 0
PoolQC 0
Fence 0
MiscFeature 0
SaleType 0

In [6]:
num_feat_nan=[feature for feature in df.columns if df[feature].isnull().sum()>1 if df[feature].dtypes !='O']
num_feat_nan

['LotFrontage', 'MasVnrArea', 'BsmtFullBath', 'BsmtHalfBath', 'GarageYrBlt']

In [7]:
num_ft=['LotFrontage', 'MasVnrArea','GarageYrBlt']

In [8]:
for feature in num_ft:
    mideann=df[feature].median()
    df[feature+'nan']=np.where(df[feature].isnull(),1,0)
    df[feature].fillna(mideann,inplace=True)

In [9]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1461,20,RH,80.0,11622,Pave,missing,Reg,Lvl,AllPub,...,MnPrv,missing,0,6,2010,WD,Normal,0,0,0
1,1462,20,RL,81.0,14267,Pave,missing,IR1,Lvl,AllPub,...,missing,Gar2,12500,6,2010,WD,Normal,0,0,0
2,1463,60,RL,74.0,13830,Pave,missing,IR1,Lvl,AllPub,...,MnPrv,missing,0,3,2010,WD,Normal,0,0,0
3,1464,60,RL,78.0,9978,Pave,missing,IR1,Lvl,AllPub,...,missing,missing,0,6,2010,WD,Normal,0,0,0
4,1465,120,RL,43.0,5005,Pave,missing,IR1,HLS,AllPub,...,missing,missing,0,1,2010,WD,Normal,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,missing,Reg,Lvl,AllPub,...,missing,missing,0,6,2006,WD,Normal,0,0,1
1455,2916,160,RM,21.0,1894,Pave,missing,Reg,Lvl,AllPub,...,missing,missing,0,4,2006,WD,Abnorml,0,0,0
1456,2917,20,RL,160.0,20000,Pave,missing,Reg,Lvl,AllPub,...,missing,missing,0,9,2006,WD,Abnorml,0,0,0
1457,2918,85,RL,62.0,10441,Pave,missing,Reg,Lvl,AllPub,...,MnPrv,Shed,700,7,2006,WD,Normal,0,0,1
1458,2919,60,RL,74.0,9627,Pave,missing,Reg,Lvl,AllPub,...,missing,missing,0,11,2006,WD,Normal,0,0,0

In [10]:
from sklearn.preprocessing import MinMaxScaler , LabelEncoder
from sklearn import preprocessing

In [11]:
scaler=MinMaxScaler()
label_enco=LabelEncoder()
cat_vars=[feature for feature in df.columns if df[feature].dtypes=='O']

In [12]:
for i in cat_vars:
    df[i]=label_enco.fit_transform(df[i])
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1461,20,2,80.0,11622,1,2,3,3,0,...,2,3,0,6,2010,8,4,0,0,0
1,1462,20,3,81.0,14267,1,2,0,3,0,...,4,0,12500,6,2010,8,4,0,0,0
2,1463,60,3,74.0,13830,1,2,0,3,0,...,2,3,0,3,2010,8,4,0,0,0
3,1464,60,3,78.0,9978,1,2,0,3,0,...,4,3,0,6,2010,8,4,0,0,0
4,1465,120,3,43.0,5005,1,2,0,1,0,...,4,3,0,1,2010,8,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,21.0,1936,1,2,3,3,0,...,4,3,0,6,2006,8,4,0,0,1
1455,2916,160,4,21.0,1894,1,2,3,3,0,...,4,3,0,4,2006,8,0,0,0,0
1456,2917,20,3,160.0,20000,1,2,3,3,0,...,4,3,0,9,2006,8,0,0,0,0
1457,2918,85,3,62.0,10441,1,2,3,3,0,...,2,2,700,7,2006,8,4,0,0,1
1458,2919,60,3,74.0,9627,1,2,3,3,0,...,4,3,0,11,2006,8,4,0,0,0

In [13]:
feature_scaler=[feature for feature in df.columns if feature  not in ['Id'] ]
scaler.fit(df[feature_scaler])

MinMaxScaler()

In [15]:
data=pd.concat([df['Id'].reset_index(drop=True),
                 pd.DataFrame(scaler.transform(df[feature_scaler]),columns=feature_scaler)],axis=1)

In [18]:
data.to_csv('scaled_test_data.csv',index=False)